<!doctype html>
<html>
  <head>
    <title> Generated text caption </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>      </head>
  <body>
      <div class="container">
        <div class="row my-5 pl-3">
            <p>The generated caption for the video: {{ my_prediction_1 }}</p>
            <p>Alternative caption #1: {{ my_prediction_2 }}</p>
            <p>Alternative caption #2: {{ my_prediction_3 }}</p>
        </div>    </div>
  </body>
</html>